export OPENAI_API_KEY={{ (bitwardenFields "item" "uniapi").token.value }}
export GITHUB_ACCESS_TOKEN={{ (bitwardenFields "item" "github access tokens").token.value }}
export ANTHROPIC_API_KEY={{ (bitwardenFields "item" "github access tokens").token.value }}


